.socials-container {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.socials {
  display: flex;
  flex-direction: column;

  gap: 1vh;
}

.social-icon-linkedIn {
  color: #425055;
  /* background-color: #9daab1; */
  font-size: 3vh;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-80%);
  width: 16vh; /* Set a fixed width */
  height: 4vh; /* Set a fixed height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon-github {
  color: #9daab1;
  font-size: 3vh;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-74%);
  width: 16vh; /* Set a fixed width */
  height: 3vh; /* Set a fixed height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon-email {
  color: #425055;
  font-size: 3vh;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-70%);
  width: 16vh; /* Set a fixed width */
  height: 3vh; /* Set a fixed height */
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-icon-resume {
  color: #9daab1;
  font-size: 3vh;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-78%);
  width: 16vh; /* Set a fixed width */
  height: 3vh; /* Set a fixed height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-icon {
  display: inline-block;
  margin-right: 1vh;
  padding-left: 2vh;
}

.text-icon:hover {
  transform: translateX(0%);
}

.social-icon-linkedIn:hover {
  transform: translateX(0%);
}

.social-icon-github:hover {
  transform: translateX(0%);
}

.social-icon-email:hover {
  transform: translateX(0%);
}

.social-icon-resume:hover {
  transform: translateX(0%);
}

.icon-fill-light {
  background-color: #9daab1;
  padding-right: 1vh;
}

@media (max-width: 768px) {
  .socials-container {
    display: none;
  }
}
