.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;

  cursor: pointer;
  transition: transform 0.3s;
}

.button-bar {
  top: 0;
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  justify-content: left;
  align-items: center;
  height: 100vh;
}

.button:hover {
  transform: translateX(10px);
}
